.hero {
  height: calc(100vh - 76px);
  background-blend-mode: overlay;
  background-image: url(../images/hero-bgcl.jpeg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero .container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 7rem;
  height: calc(100vh - 78px);
  padding: 2rem;
}

.hero .container img {
  width: 7rem;
  margin-bottom: 1rem;
}

.hero .title {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: right;
  text-transform: uppercase;
  color: var(--branco);
  margin-bottom: 1rem;
}

@media (width>600px) {
  .hero .container {
    justify-content: space-between;
    gap: 0;
    padding: 0;
  }

  .hero .container img {
    width: 9rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
  }

  .hero .title {
    font-size: 4rem;
    line-height: 4.5rem;
    margin-bottom: 3rem;
    margin-right: 5rem;
  }
}

@media (width>1200px) {
  .hero .container {
    justify-content: space-between;
    gap: 0;
    padding: 0;
  }

  .hero .container img {
    width: 12rem;
    margin-bottom: 3rem;
    margin-left: 0rem;
  }

  .hero .title {
    font-size: 3.8rem;
    line-height: 3.7rem;
    margin-bottom: 3rem;
    margin-right: 0;
  }
}
