.services {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-top: 2rem;

  .item1 {
    background-blend-mode: overlay;
    background-image: url(../images/service_img/motor1.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .item2 {
    background-blend-mode: overlay;
    background-image: url(../images/service_img/suspencao.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .item3 {
    background-blend-mode: overlay;
    background-image: url(../images/service_img/polish.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .item4 {
    background-blend-mode: overlay;
    background-image: url(../images/service_img/car.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .service-item {
    display: flex;
    flex-direction: column;

    position: relative;

    .item-title {
      font-family: Creato-Italic;
      font-weight: bold;
      font-size: 2.5rem;
      color: var(--branco);
      text-transform: uppercase;
      text-align: right;
      margin-top: 5rem;
      margin-right: 2rem;
    }

    .item-desc {
      width: 20rem;
      margin: auto;
      font-size: 1.7rem;
      text-align: right;
      color: var(--branco);
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}

@media (width>600px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width>950px) {
  .services {
    height: calc(100vh - 78px);
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0;

    .service-item {
      .item-title {
        font-size: 4.5rem;
      }

      .item-desc {
        font-size: 2.5rem;
        margin-left: auto;
        margin-right: 2rem;
      }
    }
  }
}
