.sobre {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .sobre-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    img {
      width: 100%;
      max-width: 35rem;
      height: auto;
    }
  }

  .sobre-info {
    flex: 1;

    .subtitle {
      font-family: Creato-Italic;
      font-size: 4rem;
      text-align: center;
      margin-top: 3rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    .desc {
      font-size: 1.7rem;
      line-height: 2.5rem;
      margin-top: 3rem;
      text-align: center;
    }
  }
}

@media (width>920px) {
  .sobre {
    height: calc(100vh - 78px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem;

    .sobre-image {
      margin-top: 0rem;
      margin-right: auto;
    }

    .sobre-info {
      flex: 1;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .subtitle {
        font-family: Creato-Italic;
        font-size: 7.8rem;
        text-align: right;
        margin-top: 0rem;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 3rem;
      }

      .desc {
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 0rem;
        text-align: justify;
      }
    }
  }
}
